# -*- mode: gitignore; -*-

*/CentOS-Stream-ec2-*
*~
*~$*
.*\#*
.gitignore
/.DS_Store
/ansible/ansible_collections/
/ansible/ansible_collections/
/ansible/inventory-cn.json
/ansible/inventory-std.json
/ansible/inventory.json
/ansible/playbooks/test.yml
/ansible/test_function.sh
/centos-2-awsmp/openpyxl-loadform-tester.ipynb 
/centos-2-awsmp/product-export-*.xlsx
/fedora-list.tsv
/fedora-us-east-1.json
/node_modules/
/package-lock.json
/package.json
/pyenv/
/src/config-details.py
/std-build/*.raw
\#*\#
ansible/roles/geerlingguy*
jenkins/pipelines-jobs/
pyenv
venv
/src/__pycache__/
ansible/s3_image_sync/*
/.DS_Store
/centos-2-awsmp/file:cachedb?mode=memory&cache=shared
