[app]
region = "us-east-1"
profile = "default"

[centos]
release_name = "CentOS-Cloud"
release_short = "CentOS-Cloud
release_version = '8'
major_release = '8'
name = 'CentOS-Stream-ec2'

[marketplace]
S3_BUCKET = "aws-marketplace-upload-centos"
S3_PREFIX  = "disk-images"
product_id
