ansible
awscli
boto3
botocore
certifi
cffi
chardet
colorama
cryptography
docopt
docutils
fasteners
idna
importlib-metadata
jenkins-job-builder
Jinja2
jmespath
lxml
MarkupSafe
monotonic
multi-key-dict
pbr
pkg-resources
pyasn1
pycparser
python-dateutil
python-jenkins
PyYAML
requests
rsa
s3transfer
six
stevedore
susepubliccloudinfo
urllib3
zipp
